/* div{
    border: 1px solid black;
} */

/* .project-img:hover{
    background-color: orange;
}

.project-info{
    visibility: hidden;
}
.project-card:hover{
    opacity: 0.9;
        .project-info{
                visibility: visible;
        }
} */

/* body{
    background:linear-gradient(rgb(248, 154, 154), rgb(96, 96, 248));
} */

/* .home{
    background-image: url("/img/bgi.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
} */


.effect-container:hover {
  .hover-effect {
    transition: 0.6s;
    color: teal;
    /* text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000; */
    font-size: xx-large;
    font-weight: bold;
  }
}

.project-card {
  position: relative;
  margin-bottom: 10px;

}

.card-img-container {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  /* semi-transparent overlay */
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
}

.card-img-container:hover .overlay {
  opacity: 1;
}

.card-img-container:hover {
  opacity: 0.8;
  transition: 0.5s;

}